body {
  margin: 0;
  min-width: 250px;
}
.header {
  background: rgb(47, 9, 82);
  margin: auto;
  padding: 2%; 
  display: flex;
  justify-content: center;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}
form {
  margin: 0;
  padding: 0;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
ul li:nth-child(n + 1) {
  background: rgba(181, 168, 196, 0.918);
}

ul li:nth-child(even) {
  background: rgba(110, 96, 126, 0.918);
}
li {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  font-size: 3rem;
  
}
.btn-style {
  display: flex;
  align-items: center;
}
p { 
  width: 80%;
  color:white; 
}
.myInput-view {
  width: 80%;
  font-size: 30px;
}
.addTodo {
  width: 15%; 
  font-size: 30px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-show {
  display: block;
  
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.myDataView {
  background: rgb(47, 9, 82);
  color: white;
  margin: auto;
  text-align: right;
  font-size: 16px;
  display: inherit;
}
.myTimeView {
  background: rgb(47, 9, 82);
  color: white;
  margin: auto;
  text-align: right;
  font-size: 16px;
  display: inherit;
}
.myTitle {
  background: rgb(47, 9, 82);
  font-size: 46px;
  text-align: center;
  color: white;
  margin: auto;
  padding-top: 2%;
}
.done {
  text-decoration: line-through;
}